body{
    background-color: moccasin;
    display: flex;
    height: 100vh;
}

.Mobile,
.PC,
.Tablet
{
    display: flex;
    margin: auto;
    font-size: 100px;
    display: none;

}
/* Mobile */
@media screen and (max-width: 46.1875em) {
   .Mobile{
       display: flex;
   }
}
/* Tablet */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .Tablet{
        display: flex;
    }
}
/* PC */
@media screen and (min-width: 64em)
{
    .PC{
        display: flex;
    }
}